<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>YT-DOWNLOAD</title>
</head>

<body>

    <!-- <div class="login-box">
        <h2>Youtube Audio Downloader</h2>
        <form method="POST" action='https://yt-donwloader.herokuapp.com/api/download'>
            <div class="user-box">
                <input type="text" name="url" required="true">
                <label>Link...</label>
            </div>

            <input class="button" type="submit" value="Download">
            <input class="button" type="reset" value="Reset">

            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </form>
    </div> -->



    <form class="form" method="POST" action="http://127.0.0.1:8000/api/download">
        <label class="label" for="download">Paste your link...</label><br>
        <input class="input-text" type="text" name="url"><br>
        <input class="button" type="submit" value="Submit">
    </form>



</body>

</html>
